
**/data/*/
**/data2024/BraTS2024_PED/
**/data2024/BraTS2024_PED_cropped/
**/data2024/BraTS2024_PED_split/
**/data_old

**experiments/

/experiments/brats_2017
/experiments/brats_2018

/visualization/*

losses/losses_v0.py

/train_scripts/trainer_ddp_old.py

LICENSE
**/wandb
**/__pycache__
**.pth
**.pt
**.model
**.zip
**.pkl